/* nav bar stuff like the header */
body {
    /* font-family: 'Nanum Myeongjo'; */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: auto;
    background-color: #F5F5F5;
    margin-top: 100px;
    overflow: scroll;
    flex-direction: column;
}
.faq-container {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto; /* Center the FAQ container */

    font-family: 'Nanum Myeongjo';
}
.faq-item {
    margin-bottom: 20px;
}
.question {
    font-weight: bold;
    cursor: pointer;
    color: #333;
}
.answer {
    display: none;
    margin-top: 10px;
}

        /* responsive code */
        @media (min-width:555px) and (max-width:830px) {
            .faq-container {
                width: 50%;
                margin: 20px auto;
                padding: auto;
            }
        }

        @media (max-width:455px) {
            .faq-container {
                width: 30%;
                margin: 20px auto;
                padding: auto;
            }
        }
