body {
    font-family: 'Libre Franklin', sans-serif;
    background-color: rgb(245, 245, 245);
    overflow-x: hidden;
}

h1 {
    margin-top: 15%;
    text-align: center;
}



hr {
    width: 70%;
    border: 1px solid rgb(177,200,179);
}



.card-container a:link { 
    text-decoration: none; 
    color: black;
} 

.card-container a:visited { 
    text-decoration: none; 
    color: black;
} 

.card-container  a:hover { 
    text-decoration: none; 
    color: black;
} 

.card-container  a:active { 
    text-decoration: none; 
    color: black;
}


.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap ;
    margin-top: 1em;
    margin-bottom: 3em;
    padding: 3em 0;
    columns: 1fr 1fr 1fr;
}


.card {
    width: 12em;
    background-color: none;
    /* border: 1px solid rgb(215, 212, 212); */
    overflow: hidden;
    text-align: center;
    padding: 2em 1em;
    margin: 1em 1em;
}

.card img  {
    width: 100%;
    height: auto;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content p { 
    color: black;
    margin: 1em 1em;
    font-size: 0.9rem;
}

.card-content img {
    position: relative;
}

.save-button {
    width: 3em;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;   
}

.save-button img {
    filter: invert(35%) sepia(100%) saturate(3462%) hue-rotate(346deg) brightness(80%) contrast(97%);
}