body {
    font-family: 'Libre Franklin', sans-serif;
    background-color: rgb(245, 245, 245);
}


.container {
    display: flex;
    align-items: center;
    margin-top: 10%;
    padding: 3em 0;
}

.images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    margin-left: 0;
}

.images-container img {
    width: 70%;
}

.other-img {
    display: flex;
    gap: 2em;
    margin-top: 1em;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
}

.name-price {
    display: flex;
    gap: 1em;
    align-items: center;
}

.item-name {
    width: 85%;
    font-size:1.8rem;
    font-weight: 700;
}

.item-price {
    font-size: 1.3rem;
    font-weight: 700;
}

hr {
    font-weight: 700;
    width: 30%;
   margin-left: 0;
   border: solid black;
}
.rates {
    display: flex;
    gap: 2em;
    align-items: center; 
}

.rate-types {
    font-size: 1.3em;
    font-weight: 700;
}

.percent-rate {
    font-weight: 700;
    font-size: 2em;
}

.fabric {
    font-size: 1.3em;
    font-weight: 700;
}

.fabric-list {
    font-size: 0.9rem;
    font-weight: 100;
}

.quality-rates {
    display: flex;
    align-items: center; 
}

.quality {
    font-size: 1.3em;
    font-weight: 700;
}

.stars {
    width: 10px;
}

.product-link a {
    text-decoration: underline;
    color: black;
    font-weight: 100;
}

.selected-img {
    border: 4px solid rgb(177,200,179);;
}

.save-button {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 3em;
    border: none;
    background-color: transparent;
    font-size: 0.9rem;
    cursor: pointer;
    font-family: 'Libre Franklin';
    font-weight: 100;
}


.save-button img{
    width: 100%;
}