body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Nanum Myeongjo";
  }

  .left-section {
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    flex: 1;
  }

  .left-section img {
    width: 13%;
    padding-right: 0.5em;
    padding-bottom: 0.6em;
  }

  .header {
    text-align: right;
  }

  .split-container {
    display: flex;
    height: 100vh;
  }

  .split-left,
  .split-right {
    flex: 1;
    overflow: auto;
    padding: 20px;
  }

  .split-left {
    background-color: #B1C8B3;
  }

  .split-right {
    background-color: #F5F5F5;
  }

  input[type=email] {
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #D6E3D7;
    border-color: rgb(0, 0, 0, 0.3);
    border-radius: 20px;
  }

  input[type=text] {
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #D6E3D7;
    border-color: rgb(0, 0, 0, 0.3);
    border-radius: 20px;
  }

  .icons {
    width: 35px;
    height: 35px;
    margin-right: 20px;
  }

  /* navbar stuff */
  .icons { 
              width: 25px;
              height: 25px;
              transition: filter 0.7s ease;
              padding: 0.5em 0.5em;
          }

  .button {
          width: 100%;
          box-sizing: border-box;
          margin: 8px 0;
          margin-top: 120px; /*  margin to add padding to top, so like its in the middle */
          border-color: rgb(0, 0, 0, 0.3);
          border-radius: 20px;
          height: 60px; 
      }
  .links {
          display: flex;
          list-style: none;
      }
      
  .links li {
          margin-left: 4em;
      }

  .right-section {
          padding-right: 0.8em;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 2em;
      }

  .icon-button {
          border: none;
          background-color: transparent;
      }

  .icon-button:hover{
          background-color: rgb(177,200,179);
          border-radius: 0.7em;
      }

  /* button sign out */
      .search-form {
          display: flex;
          justify-content: flex-end;
          padding: 10px;
          width: 80%;
      }

      .sign-in-btn {
          margin-left: auto;
          text-decoration: none;
          padding: 10px 20px;
          border: 1px solid #28a745;
          color: #28a745;
          border-radius: 5px;
          cursor: pointer;
      }

      .sign-in-btn:hover {
          background-color:  rgb(177,200,179);
          color: #fff;
      }